extends baseEmail 

block content 
  p Hi #{firstName},
  p To verify you email, Please click this link: 
    a(href=`url`)= url

  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') verify email
  p If you didn't signup for photoapp, Please ignore this email